.metrics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 10px;
  .extraText {
    font-size: 2rem;
    text-align: center;
    color: #fff;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 405px) {
    grid-template-columns: 1fr;
  }
}
