.header {
  background-color: #7b1fa2;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 6px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 50px;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  li,
  a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #f3e5f5;

    &:hover:not(:last-child) {
      border-bottom: 2px solid #f3e5f5;
    }
  }

  .cart {
    a {
      display: flex;
      font-size: 1.8rem;
    }
  }
}
