.title {
  display: flex;
  align-items: center;
  gap: 15px;
}

form > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wallet {
  display: flex;
  flex-direction: column;
  color: #fff;

  .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  a {
    margin-top: 15px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #f3e5f5;

  &:hover:not(:last-child) {
    border-bottom: 2px solid #f3e5f5;
  }
}
