.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .register {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      font-size: 1.1rem;
    }

    hr {
      width: 100%;
    }
  }
  img {
    height: 100px;
  }
}
