.title {
  display: flex;
  align-items: center;
  gap: 15px;

  & > h1 {
    font-weight: 300;
    margin-bottom: 10px;
  }
}

form > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
