.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 12rem;
  padding-bottom: 1rem;
  // height: calc(100vh - 3rem - 112px);

  .img {
    width: 70%;
    align-self: center;
  }

  @media (max-width: 767px) {
    margin: 0 1rem;

    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 405px) {
    margin: 0 1rem;

    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}
